<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('./component/style.ejs') %>
    
</head>
<body class="layui-container">
    <%- include('./component/header.ejs') %>
    
    <h1>this is ejs home</h1>
    
        
    <a href="/login">登录</a>
    <a href="/list">go to list</a>

    <br>
    <a href="/details">go to details</a>
    <br>
    <input value='爬取' type='button' id='search' />
    <%- include('./component/footer.ejs') %>
</body>
</html>