<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>this is ejs list</h1>
    <ul>
        <ol><a href="/details/1">one</a></ol>
        <ol><a href="/details/2">two</a></ol>
        <ol><a href="/details/3">three</a></ol>
    </ul>
</body>
</html>