<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include('./component/style.ejs') %>
    
</head>
<body class="layui-container">
    <%- include('./component/header.ejs') %>
    
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-md8 layui-col-md-offset2">
            <form id="register-form" class="layui-form" action="/account/login" method='post'>
            
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-block">
                    <input type="text" name="username" required  lay-verify="required" placeholder="请输入账号" class="layui-input">
                </div>
            </div>
              <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-block">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formRegister">立即提交</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <%- include('./component/footer.ejs') %>
    <script src='/static/js/register.js'></script>
</body>
</html>